<!doctype html>
{% load static %}
<html lang="en">
    <div style="font-size: 20px;">
    <b>學名：</b><i>Jacobiasca formosana (Paoli) </i><br>   
    <b>危害程度：</b>中等<br>
    <b>典型病徵：</b><br>
    <img src="{% static 'demo/roller_wound.jpg' %}" alt="demo image" height=80px >
    <img src="{% static 'demo/roller_leaf.jpg' %}" alt="demo image" height=80px ><br>
    <b>病害說明：</b><br>
    受害茶芽呈黃綠色，受害嚴重時，茶芽捲縮不長，葉呈船形，葉綠變褐，而至脫落。<br>
    <b>防治方式：</b> <br>
        改善茶園通風，可減輕該蟲發生。<br>
        為兼顧安全用藥，並提高烏龍茶之獨特香味，夏季應減少施藥次數。<br>
    <b>用藥建議：</b><br>
    <a href="https://otserv2.tactri.gov.tw/PPM/PLC0101.aspx?CropNo=00254C014&SRH=%e5%b0%8f%e7%b6%a0%e8%91%89&"
        target="_blank">
        植物保護資訊系統 – 茶捲葉蛾類</a><br>
    </div>